<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reino_da_Garotada.Properties.Settings.banco_reinoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Z:\Debug\banco_reino.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
                <binding name="AtendeClienteServiceSoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="Wscorreios.AtendeCliente" name="AtendeClientePort" />
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding2"
                contract="Wscorreios_.AtendeCliente" name="AtendeClientePort1" />
        </client>
    </system.serviceModel>
</configuration>