<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>

    <add name="LOJAEntities" connectionString="metadata=res://*/LojaVirtualEDM.csdl|res://*/LojaVirtualEDM.ssdl|res://*/LojaVirtualEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VIRTUAL;Initial Catalog=LOJA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>